.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  flex: 1;

  &__platform-header {
    width: 100%;
    background-color: #f4f4f4;
    position: relative;
    .logout-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.5rem 1rem;
      background-color: #da1e28;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      z-index: 1;
      
      &:hover {
        background-color: #bc1a23;
      }
    }
  }

  &__platform-image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
  }

  &__main {
    font-size: 0.875rem;
    flex: 1;
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
